#app:has(.page-home) {
	display: flex;
	place-items: center;
}
.page-home {
  width: 48em;
  padding-block: 20vmin;

  header {
    gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
    display: grid;
    overflow: hidden;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      "logo login "
      "text search";
    padding-bottom: 2rem;
    .home-header-inner {
      display: contents;
      h1 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
        grid-area: logo;

        .logo {
          width: 1.5em;
          height: 1.5em;
          vertical-align: -0.5em;
          margin-right: 1rem;
        }
      }
      /* subheading v */
      & > p {
        /* text alignment with h1 */
        font-size: 1.25rem;
        margin: 0;
        font-weight: 400;
        text-align: left;
        grid-area: text;
        margin-top: -0.15rem;
      }
    }
    .atproto-logo {
      color: color-mix(
        in oklch,
        var(--colour-fg) 50%,
        var(--md-sys-color-outline)
      );
      white-space: nowrap;
      &:not(:hover) {
        text-decoration: none;
      }
      .atproto-logo-at-symbol {
        color: var(--colour-link);
        .lucide {
          width: 1em;
          height: 1em;
          vertical-align: -0.15em;
        }
      }
      .atproto-logo-at-text {
        color: var(--colour-link);
      }
    }
    nav {
      display: contents;
    }
    .search-form {
      margin: 0px;
      display: flex;
      align-items: center;
      gap: 0.5ch;
      min-width: 15rem;
      grid-area: search;
      width: 100%;
      align-self: start;
    }
    .buttons {
      grid-area: login;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      justify-content: end;
    }

    @media (max-width: 40rem) {
      display: flex;
      flex-direction: column;
      nav {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        flex-wrap: wrap;
      }
    }
  }
}
